.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  background-color: #444;
  padding: 20px 0 0;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  width: 100%;
}

table {
  width: 90%;
}

#navBar .navItem {
  float: left;
}

thead {
  border-bottom: 3px solid black;
}

#navBar .navA {
  display: block;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 14px 16px;
  text-decoration: none;
}
#navBar .navTitle {
  float: left;
  display: block;
  color: white;
  text-align: center;
  font-size: 22px;
  padding: 14px 16px;
  text-decoration: none;
  background: #222
}

#currentNavItem {
  background: #444;
  float: left
}

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  background-color: #111;
} */

.row {
  text-align: center;
  border-bottom: 1px solid black;
}

.btn-prim {
  float: right;
  margin-top: 5px;
  padding: 5px 5px;
}

#subtitle {
  font-size: 20px;
}

td {
  border-bottom: 1px solid black;
  margin: 4px;
}

.edit-del-btns {
  border-bottom: 1px solid black;
  padding: 10px;
}